<form action="/create" method="POST">
  <h2>Create todo</h2>

  <div class="input-field">
    <input type="text" name="title"><!--указываем name, чтобы в дальнейшем на сервере мы могли считать этот параметр-->
    <label>Todo title</label>
  </div>

  <button type="submit" class="btn">Create</button>
</form>